image: node:22.13-alpine

stages:
  - install
  - build
  - deploy

cache:
  paths:
    - node_modules/

variables:
  NODE_ENV: production

install_dependencies:
  stage: install
  script:
    - npm install
  artifacts:
    paths:
      - node_modules/
  only:
    - main

build:
  stage: build
  script:
    - npm run generate
  artifacts:
    paths:
      - .output/
  only:
    - main

#deploy:
#  stage: deploy
#  script:
#    - apk add --no-cache openssh # Installs SSH in the runner environment
#    - mkdir -p ~/.ssh
#    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa # Adds the private key
#    - chmod 600 ~/.ssh/id_rsa # Sets appropriate permissions
#    - ssh-keyscan -H "$SERVER_HOST" >> ~/.ssh/known_hosts # Adds server to known hosts
#    - scp -r .output "$SERVER_USER@$SERVER_HOST:$SERVER_PATH" # Copies files
#    - ssh "$SERVER_USER@$SERVER_HOST" "cd $SERVER_PATH && pm2 restart 0 && cp -r .output/ /var/www/html/.output/" # Restarts the server
#  only:
#    - main
