image: node:20.9.0

stages:
  - install
  - build
  - deploy

cache:
  # Cache both node_modules and Nuxt's `.output`
  paths:
    - node_modules/
    - .output/
  key: '$CI_COMMIT_REF_SLUG' # Cache key based on the branch name

variables:
  NODE_ENV: production

# Install dependencies
install_dependencies:
  stage: install
  script:
    - rm package-lock.json
    - echo "Restoring cache or installing dependencies..."
    - yarn install --frozen-lockfile
    # - if [ -d node_modules ]; then echo "Cache hit for node_modules."; else yarn install; fi
  artifacts:
    paths:
      - node_modules/
  only:
    - main

# Build the Nuxt.js application
build:
  stage: build
  script:
    - echo "Building the application..."
    - yarn generate
  artifacts:
    paths:
      - .output/
  dependencies:
    - install_dependencies # Use the `node_modules` cache
  only:
    - main

# Deploy the build to the server
deploy:
  stage: deploy
  before_script:
    - echo "Preparing SSH configuration..."
    - apk add --no-cache openssh
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H "$SERVER_HOST" >> ~/.ssh/known_hosts
  script:
    - set -e
    - echo "Verifying SSH connection..."
    - ssh "$SERVER_USER@$SERVER_HOST" "echo 'SSH connection successful!'"
    - echo "Deploying application..."
    - scp -r .output "$SERVER_USER@$SERVER_HOST:$SERVER_PATH"
    - ssh "$SERVER_USER@$SERVER_HOST" "
      set -e &&
      echo 'Restarting server...' &&
      sudo cp -r $SERVER_PATH/.output/ /var/www/html/ &&
      echo 'Deployment completed successfully!'"
  after_script:
    - echo "Cleaning up sensitive files..."
    - rm -f ~/.ssh/id_rsa
  only:
    - main
