@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noto Sans Khmer';
  src: url('@/assets/fonts/NotoSansKhmer-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Khmer';
  src: url('@/assets/fonts/NotoSansKhmer-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Khmer';
  src: url('~assets/fonts/NotoSansKhmer-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans Khmer';
  src: url('~assets/fonts/NotoSansKhmer-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
